src/core/agents.dat
src/core/askvolume.dat
src/core/bidvolume.dat
src/core/price.dat
src/core/profits.dat
src/core/supplydemand.dat
src/core/tradevolume.dat
src/test/luaunit.lua
src/BYTEmain
src/test.dat
src/testing.lua
src/linecount.lua
bad_data.png
bizarre_production.png
